<!DOCTYPE html>
<html>
<head>
        <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Josefin+Sans|Patua+One|Source+Serif+Pro" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="styles.css">
    <title>Möns</title>
</head>

<body>
<div id="bodyBack">
    <header>
        <div id="logo"><h2>Logo</h2></div>
        <div id="center"></div>
        <div><h2>Hafa samband</h2></div>
        <div id="aboutUs"><h2>Um okkur</h2></div>
        <div id="shoppingCart"><a href="#"><i id="shop" class="ion-android-cart"></i></a></div>
    </header>

    