<%-include('header')-%>

<div id="productInfo">
    <div id="picture">
        <div id="bigImage">
            <img src="" alt="Mynd af Mönsi">
        </div>
    </div>
    <div id="order">
        <h2>Nafn á mönsi</h2>
        <h2>Verð á mönsi</h2>
        <div>
                <!--<div class="selectdiv2">
                        <label>-->
            <select name="amount" id="amount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <label>Veldu Fjölda</label>
        <!--</label>
        </div>-->  
        </div>
        <div id="bookButtonContainer">
                <div id="bookButton" class="confirmButtons">Setja í körfu</div>
            </div>
    </div>
    <div id="ingr">
        <h2>Innihaldslýsing</h2>
        <div>
            <ul>
                <li>Cal:</li>
                <li>Sykur:</li>
                <li>Carbs:</li>
                <li>flipflop:</li>
            </ul>
        </div>
    </div>
</div>

<%-include('footer')-%>