

#nav{
    display: flex;
    justify-content: space-around;
    margin: 5% 5%;
}


.navItem{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    opacity: 0.8;
}

.info{
    height: 300px;
    display: flex;
    flex-direction: column;
}

.info h2{
    text-align: center;
    font-size: 35px;
    margin: 30px 0 20px 0;
}

.info p{
    text-align: center;
}

.navStuff{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 20% 0 20%;
    height: 15%;
}

.red{
    background-color: #f45f42;
}

.blue{
    background-color: #289AEF;
}

.green{
    background-color: #2C9E38;
}


.borderColor{
    height: 10px;
}

.active{
    background-color: gray;
}

#mainStuff{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

#left ul{
    margin:0;
  list-style: none;
  position: relative;
  left:-25%;
}

#left ul li{
    margin: 20px 0;
}

#left{
    border: solid;
    padding: 0;
    display: flex;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: gray;
}

#middle{
    display: flex;
    flex-direction: column;
}

#middle #select{
    display: flex;
    justify-content: flex-end;
    border: solid;
}

.selectdiv {
    position: relative;
  }
  
  .selectdiv:after {
      content: '\f078';
      font: normal normal normal 17px/1 FontAwesome;
      right: 11px;
      top: 6px;
      height: 34px;
      padding: 15px 0px 0px 8px;
      position: absolute;
      pointer-events: none;
  }
  
  /* IE11 hide native button (thanks Matt!) */
  select::-ms-expand {
  display: none;
  }
  
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    border: 1px solid;
    -ms-word-break: normal;
    word-break: normal;
  }




